<h1>Rent#creation_rent</h1>

<p>
  <%= "#{t('creation_date')} #{@message["creation_date"]}" %>
  <%= "#{t('book_name')} #{@message["book_name"]}" %>
  <%= "#{t('book_author')} #{@message["book_author"]}" %>
  <%= "#{t('book_gender')} #{@message["book_gender"]}" %>
  <%= "#{t('book_editor')} #{@message["book_editor"]}" %>
  <%= "#{t('book_year')} #{@message["book_year"]}" %>
  <%= "#{t('start_date')} #{@message["start_date"]}" %>
  <%= "#{t('end_date')} #{@message["end_date"]}" %>
</p>
