<h1>New rent registered for: <%= @user.email %></h1>

<hr>
  <h2>Thank you for your purchase</h2>
  <p>Here is the rent information</p>
  <ul>
    <li>Book Title: <%= @book.title %></li>
    <li>Genre: <%= @book.gender %></li>
    <li>Author: <%= @book.author %></li>
    <li>Editor: <%= @book.editor %></li>
    <li>Year: <%= @book.year %></li>
    <li>Initial Date: <%= @rent.start_date %></li>
    <li>Return Date: <%= @rent.end_date %></li>
  </ul>
</hr>
